body {
  margin: 0;
  font-family: sans-serif;
}
.slider-wrapper {
  height: 100vh;
  font-family: "Lora";
}
.slider {
  height: 100%;
  overflow: hidden;
}
.sections {
  display: flex;
  width: 400vw;
}
.section4 {
  background: #ffffff;
  flex-direction: column;
  color: #333;
}
.section {
  padding: 30px 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}
.after-slider {
  position: relative;
  z-index: 10;
  font-family: "Lora";
}
.text1 {
  background: #fffbf1;
  font-size: 1.5rem;
}
.text2 {
  background: #fbf5e4;
  font-size: 1.5rem;
}
.text3 {
  background: rgb(235, 229, 213);
  font-size: 1.5rem;
}
.text4 {
  font-size: 1.1rem;
  max-width: 800px;
  text-align: left;
}

.section1 {
  background: #fffbf1;
}
.section2 {
  background: #fbf5e4;
}
.section3 {
  background: rgb(235, 229, 213);
}
.section4 {
  background: rgb(255, 255, 255);
}
.text4 {
  font-size: 1.3rem;
  max-width: 900px;
  text-align: left;
  letter-spacing: 0.02em;
  padding: 40px;
}

.text4 h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.section-image1 {
  margin-top: 20px;
  width: 250px;
  height: auto;
  border-radius: 85%;
}
.section-image2 {
  width: 80%;
  height: auto;
}
.section-image3 {
  width: 60%;
  height: 30;
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.text3 {
  background: rgb(235, 229, 213);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.text1 p,
.text2 p,
.text3 p {
  max-width: 850px;
}
