.spring-container {
  min-height: 100vh;
  padding: 60px;
  font-family: "Lora", serif;
  background-color: #f9f3fc;
}

html,
body {
  height: 100%;
  margin: 0;
}

.spring-title {
  font-size: 64px;
  margin-bottom: 30px;
  text-align: center;
}
.spring-image1 {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}
.spring-image2 {
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  justify-content: center;
}
.spring-text {
  font-size: 1.5vw;
  line-height: 1.7;
}
.fc {
  display: flex;
  justify-content: center;
}
.spring-caption {
  font-size: 1.2vw;
  margin-top: 10px;
  text-align: center;
}
.spring-link {
  display: inline-block;
  font-size: 22px;
  text-decoration: none;
}

.spring-image {
  margin-top: 10px;
  width: 50%;
  max-width: 1200px;
  border-radius: 8px;
  justify-content: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.spring-section {
  max-width: 800px;
  margin: 0 auto;
}

.spring-section-title {
  font-size: 1.6rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.spring-subtitle {
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.spring-equation {
  font-family: "Courier New", monospace;
  background: #e1e0dd;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  display: inline-block;
  margin: 0.5rem 0;
}

.equation-wrapper {
  text-align: center;
}
.spring-quote {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #777;
  font-style: italic;
  border-left: 3px solid #ddd;
  padding-left: 1rem;
  margin-top: 1.5rem;
}
.home-container {
  min-height: 100vh;
  padding: 60px;
  font-family: "Lora", serif;
  background-color: rgb(235, 229, 213);
}
.home-container .spring-text {
  font-size: 1.5rem;
  line-height: normal;
}
.accordion-wrapperspring {
  background-color: #e9deee;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.2s ease;
}
.image-wrapperPCA {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 120%;
  max-width: 1800px;
}
